# generic
*.o
*.o.d
*.a
*.so
*~
.*.swp

# generated
pre-process.h
sparse.pc

# programs
test-inspect
test-lexing
test-parsing
obfuscate
sparse
compile
graph
test-dissect
test-linearize
example
test-unssa
ctags
c2xml
smatch
bak.smatch
sparse-llvm

# tags
tags
TAGS

# stgit generated dirs
patches-*

# quilt's files
patches
series

#cscope
cscope.files
cscope.out

# local makefile
local.mk

# local smatch checks
check_list_local.h
