# generic
*.o
*.o.d
*.a
*.so
*~
.*.swp
.gdb_history
*.c.smatch
*.c.smatch.caller_info
*.c.smatch.sql

# generated
pre-process.h
sparse.pc
version.h

# programs
test-inspect
test-lexing
test-parsing
obfuscate
sparse
compile
graph
test-dissect
test-linearize
example
test-unssa
ctags
c2xml
smatch
bak.smatch
sparse-llvm

# tags
tags
TAGS

# stgit generated dirs
patches-*

# quilt's files
patches
series

#cscope
cscope.files

# local makefile
local.mk

# local smatch checks
check_list_local.h

# cscope and Qt files
cscope.out
*.pro*

#python
*.pyc
