# generic
*.a
*.o
*.o.d
*.pyc
*.so
*~
.*.swp
.gdb_history
*.c.smatch
*.c.smatch.caller_info
*.c.smatch.sql

# generated
version.h

# programs
c2xml
compile
ctags
example
graph
obfuscate
sparse
sparse-llvm
sindex
test-dissect
test-inspect
test-lexing
test-linearize
test-parsing
test-show-type
test-unssa
ctags
c2xml
smatch
bak.smatch
sparse-llvm

# tags
tags
TAGS

# stgit generated dirs
patches-*

# quilt's files
patches
series

#cscope
cscope.files

# local makefile
local.mk
.*.mk

# local smatch checks
check_list_local.h

# cscope and Qt files
cscope.out
*.pro*

#python
*.pyc
